<table class="data">
	<thead>
		<tr>
			<th><%= CompanyConfig.name %> Part #</th>
			<th>PO Vendor Part #</th>
			<th>Qty Received</th>
		</tr>
	</thead>
	<tbody>
<% receiver.receiver_items.each do |i| %>
		<tr>
			<td><%= link_to i.part_number, item_url(i.part_number) %></td>
			<td><%= i.po_vendor_part_number %></td>
			<td><%= cm i.quantity, :sales_order_quantity %></td>
		</tr>
<% end %>
	</tbody>
</table>
