<%= render 'production/vendors/summary' %>
<br />

<h2>Purchase Orders</h2>
<%= render 'production/purchase_order_items/list', :include_browse_all => true, :purchase_order_items => @purchase_order_items %>