#contextassistant {
	padding: 5px 5px 5px 10px;
	background-color: #efefef;
	height: 4em;
	max-height: 4em;
 	overflow: hidden;
	font-size: .75em;
}

#contextassistant table {
	border-collapse:collapse;
	border-spacing:0;
}

#contextassistant p {
	margin: 0 0 5px 0;
}

#contextassistant p:last-child {
	margin: 0;
}

/*.ca_comment textarea {
	padding: .5em;
	background: #fff;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: .75em;
	line-height: 1.5em;
	margin: .5em 0;
	width: 30%;
}
*/
.ca_opportunity  {
	display:block;
}

#ca_opportunities {
	float: left;
	margin: 0;
	overflow-y:auto;
	height: 100%;
}

#ca_edit_comment {
	padding: .3em 0;
}

#ca_comments, #ca_edit_comments {
	margin: 0 0 0 15px;	
}

#ca_comments, #ca_comments_list, #ca_edit_comments, #ca_edit_comment, #ca_new_comment {
	float: left;
	display: inline;
}

#ca_comments_list {
	overflow-y:auto;
	padding: 0 17px 0 0;
	height: 4em;
}

#ca_edit_comments, #ca_new_comment {
	height: 4em;
	overflow-y:auto;
	overflow-x: none;
	width: 450px;
}

#ca_new_comment > div {
	float: left;
}

#ca_new_comment textarea, #ca_new_comment textareaClone {
	padding: .3em;
	background: #fff;
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height: 1em;
	margin: .5em 0;
	height: 1em;
	width: 200px;
}

#ca_edit_comment textarea {
	float: left;
/*	padding: .3em;*/
	background: #fff;
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height: 1em;
/*	margin: .5em 0;*/
	height: 100%;
	width: 200px;	
}

#ca_edit_comment button, #ca_edit_comment input {
	margin: 0 0 0 .5em;
	float: left;
}

#ca_new_comment button {
	margin: 1em 0 0 1.5em;
}

#ca_create_comment {
	float: left;
	margin: 5px 0 0 10px;
}

.ca_hidden_edit span.ca_edit {
	display: none;
	float: right;
	padding: 0;
	margin: 0;
/*	margin: 0 0 0 5px;*/
}

.ca_hidden_edit:hover .ca_edit {
	display: inline;
}

#ca_edit_comment {
	display: none;
}

#ca_edit_comment .delete_confirmation {
	display: none;
}