<% title 'Quotes' %>

<%= render 'sales/opportunities/submenu' %>

<% if @quotes.size > 0 %>
<%= will_paginate @quotes %>
<%= render 'sales/quotes/list', :quotes => @quotes %>
<%= will_paginate @quotes %>
<% else %>
<h3>No Quotes!?  The horror.</h3>
<% end %>

<p>
	Quotes can only be created from Opportunities.
</p>