.bundle
db/*.sqlite3
log/*
tmp/
config/database.yml*
config/s3_local.yml
config/local_app_config.yml
config/local_company_config.yml
data
db/schema.rb
db/backups
imports/*
extensions/chrome/context_assistant/package
