<% semantic_form_for :search, @search, :url => search_url, :html => {:method => :get} do |f| %>
<table class="flatform">
	<tbody>
		<tr>
			<td>
				<% f.inputs do %>
				  <%= f.input :year, :as => :select, :collection => Quality::ReportSearch.year_options, :label => 'Year', :include_blank => false %>
				<% end %>
			</td>
			<td>
				<% f.buttons do %>
				  <%= f.commit_button 'View' %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
<% end %>
