<%= render 'production/submenu' %>
<br />

<% title 'Inventory Report' %>

<h2>Inventory Report</h2>

<%= semantic_form_for :inventory_report, :url => inventory_reports_path do |f| %>
<%= f.buttons do %>
	<%= f.commit_button 'Create' %>
<% end %>
<% end %>
