<% title @customer.name %>
<%= render 'sales/customers/summary' %>

<% if @opportunities.size > 0 %>
<%= render 'sales/opportunities/list', 
	:show_won => true,
	:show_hold => true,
	:view_all_for_customer => @customer.name %>
<% else %>
<p>No open opportunities</p>
<% if @customer.opportunities.count == 0 %>
<br />
<p>
	<%= link_to 'Delete Customer', sales_customer_url(@customer), :method => :delete, :confirm => 'This is permanent! Are you sure?' %>
</p>
<% end %>
<% end %>

<p>
	<%= link_to 'Create Opportunity', new_opportunity_url(:sales_opportunity => { :sales_customer_id => @customer.id }) %>
</p>