body {
   background: white;
   font-size: 12pt;
   }
#header, #footer {
   display: none;
   }
form {
	display: none;
}
#maincopy, #main {
   width: auto;
   margin: 0 5%;
   padding: 0;
   border: 0;
   float: none !important;
   color: black;
   background: transparent none;
   }

a:link, a:visited {
	text-decoration:none;
	color: black;
}


table {
	page-break-inside: avoid;
	page-break-after: always; 
}

/* DATA TABLES
-------------------------------------------------------------------- */
table.data {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0 15px 0;
  }
table.data thead {
  background: #dcdcdc;
  }
table.data tr.even {
  background-color: #ededed;
  }
table.data th {
  font-size: 12px;
  color: #646870;
  text-align: left;
  vertical-align: top;
  padding: 5px;
  }
table.data td {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #c5c5c5;
  padding: 5px;
  }
table.data p {
	font-size: 1em;
	padding-bottom: .5em;
}

table.data td.monitary {
	text-align: right;
}

span.currency_symbol {
	float: left;
}

table.data td.centered {
	text-align: center;
}

table.data td.right {
	text-align: right;
}

/* BACKLOG TABLES ************************************/

table.backlog {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0 15px 0;
  }
table.backlog thead {
  }
table.backlog tr.even {
  background-color: #ededed;
  }
table.backlog th {
  font-size: 12px;
  color: #646870;
  text-align: left;
  vertical-align: top;
  padding: 5px;
  }
table.backlog td {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
  padding: 5px;
  }

table.backlog td.c1_full {
	border-top: 3px solid green;
	border-left: 3px solid green;
	border-bottom: 3px solid green;	
	border-right: 1px solid green;
}

table.backlog td.top_full {
	border-top: 3px solid green;
	border-left: 1px solid green;
	border-bottom: 1px solid green;	
	border-right: 1px solid green;
}

table.backlog td.bottom_full {
	border-top: 1px solid green;
	border-left: 1px solid green;
	border-bottom: 3px solid green;	
	border-right: 3px solid green;
}

table.backlog td.cr_full {
	border-top: 3px solid green;
	border-left: 1px solid green;
	border-bottom: 1px solid green;	
	border-right: 3px solid green;
}

table.backlog td.c1_part, table.backlog td.cr_part, table.backlog td.top_part, table.backlog td.bottom_part {
	border: 1px solid black;
}

table.backlog td.c1, table.backlog td.cr, table.backlog td.top, table.backlog td.bottom {
	border: 1px solid #c5c5c5;
	background-color: #eee;
}

table.backlog td.quantity {
	width: 50px;
}

table.backlog td.c1 {
	width: 200px;
}

table.backlog tr.spacer td {
	padding-bottom: 50px;
	border: none;
}

table.backlog p {
	font-size: 1em;
	padding-bottom: .5em;
}

table.backlog td.monitary {
	text-align: right;
}

span.currency_symbol {
	float: left;
}

table.backlog td.centered {
	text-align: center;
}

table.backlog td.right {
	text-align: right;
}

.sbl_jobs_link {
	display: none;
}
