<%= render 'shipping/submenu' %>
<br />

<% if @receivers.size > 0 %>
<h2>Recent Receivers</h2>
<%= render 'shipping/receivers/list' %>
<% else %>
<h3>No Receivers</h3>
<% end %>

<% if @shippers.size > 0 %>
<h2>Recent Shippers</h2>
<%= render 'shipping/shippers/list' %>
<% else %>
<h3>No Shippers</h3>
<% end %>