<%= render 'shipping/submenu' %>
<br />

<% if @receivers.size > 0 %>
<h2>Recent Receivers</h2>
<% @receivers.each do |r| %>
	<%= render 'shipping/receivers/show', :receiver => r %>
<% end %>
<% else %>
<h3>No Receivers</h3>
<% end %>

<% if @shippers.size > 0 %>
<h2>Recent Shippers</h2>
<% @shippers.each do |s| %>
	<%= render 'shipping/shippers/show', :shipper => s %>
<% end %>
<% else %>
<h3>No Shippers</h3>
<% end %>