

<div class="column1">
	<h3>Recent Sales Orders</h3>
	<%= render 'sales_orders/list' %>

	<% if @quotes.size > 0 %>
	<h3>Recent Quotes</h3>
	<%= render 'quotes/list' %>
	<% end %>
</div>

<div class="column2 small">
	<h4>Recently Viewed Pages</h4>
	<%= render 'user_activities/list' %>
</div>
