<% unless defined?(mini_format) %>
<% mini_format = false %>
<% end %>
<table class="data">
	<tbody>
		<% jobs.each do |job| %>
		<%= render 'items/jobs/job.html.erb', :job => job, :mini_format => mini_format, :subjob => false %>
		<% unless job == jobs.last %>
		<tr class="spacer">
			<td></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
