<% title "Forbidden: You are not permitted to access that location (403)" %>

<p>Sorry!</p>

<% content_for :sidebar do %>
<p><%= image_tag '/images/home_hpoto2.jpg', :width=>'214', :height=>'200' %></p>
<% end %>
