<% title "Not found: The page does not exist (404)" %>

<p>Perhaps you mistyped your url "<%= h request.path %>" or it has been moved.</p>

<% content_for :sidebar do %>
<p><%= image_tag '/images/home_hpoto2.jpg', :width=>'214', :height=>'200' %></p>
<% end %>
