<% title "Method Not Allowed (405)" %>

<p>Sorry, but we do not provide that HTTP method.</p>

<% content_for :sidebar do %>
<p><%= image_tag '/images/home_hpoto2.jpg', :width=>'214', :height=>'200' %></p>
<% end %>
