<% title "Whooops!  Something went wrong" %>

<h2>Sorry, but we've encountered an error.</h2>
<p>We have been notified about this issue and we'll take a look at it as soon as possible.</p>

<% content_for :sidebar do %>
<p><%= image_tag '/images/home_hpoto2.jpg', :width=>'214', :height=>'200' %></p>
<% end %>
