/* ------------------------------------------
SMT Inc Website		
---------------------------------------------*/

/* browser reset
---------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
abbr, acronym {
	border:0;
}
/* common elements
---------------------------------------------*/
body {	
	background:url(../../images/m2mhub/bg_pageshadow.gif) top center no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size:62.5%;
	color: #666;
	border-top:10px solid #c00;
}
#wrapper {
	margin:0 auto;
	width:960px;
	position: relative;
	/*border:1px solid red;*/
}
#main {
	margin: 0 10px 10px 10px;
	/*border:1px solid blue;*/
}
h1 {
	font-size:3.4em;
	color:#000;
}
h2 {
	font-size:2em;
	color:#000;
	margin: 5px 0 5px 0;
}
h3 {
	font-size:1.5em;
	color:#000;
}
h4 {
	font-size:1.4em;
	color:#000;
	margin-bottom: 5px;
}
p {
	font-size:1.4em;
	color: #666;
	line-height: 1.3;
	padding-bottom: 1em;
}
li {
	font-size:14px;
	color: #666;
	line-height: 1.4;
}
th {
	font-weight:bold;
	text-align:center;
}
/* header 
---------------------------------------------*/
#header {
	margin: 20px 10px 10px 10px;
}
#header .banner{
	clear:both;
	display:block;
}
#header .nav{
	background:#eee;
	clear:both;
	display:block;
	margin-top: 15px;
	width: 940px;
	height:48px;
}
#header .logo {
	float:left;
	margin-right: 30px;
}
#header .tagline {
	float:left;
	font-size:2.2em;
	margin: 10px 0 0 0;
	color:#999;
}
#header .tollfree {
	float:right;
	font-size:1.4em;
	color:#999;
	margin: 15px 0 0 0;
}
#header .nav li {
	float:left;
	font-size:1.1em;
	height:38px;
	padding:10px 32px 0 10px;
	border-left:1px solid #fff;
	line-height:1.1em;
}

#header .nav li:hover {
	background:#ddd;
}
#header .nav li.current a{
	color:#fff;
}
#header .nav li.current{
	background:#c00;
	color:#fff;
}

/* links
---------------------------------------------*/
a:link, a:visited {
	text-decoration:none;
	color: #39f;
}
a:hover {
	text-decoration:underline;
}
a:link img, a img {
	border: 0;
}
#header a:link, 
#header a:visited {
	text-decoration:none;
	text-transform:uppercase;
	color: #000;
}

/* 
footer
---------------------------------------------*/
#footer {
	border-top: 3px double #ccc;
	margin: 40px 0 40px 0;
}
#footer p {
	width: 974px;
	margin: 10px;
	color:#999;
}
#footer span {
	margin:0 6px;
}
/* 
clear floated elements
---------------------------------------------*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
additional styles
---------------------------------------------*/
#imagebanner {
	margin-bottom: 10px;
}

#imagebanner img{
	display:inline;
	width:313px;
}

#imagebanner #slideshow {
	float:right;
	width:313px;
	height:209px;
}

#maincopy {
	padding:10px 10px 0 10px;
}

#maincopy .column1,
#maincopy .column2,
#maincopy .column3 {
	float: left;
	width: 286px;
}
#maincopy .column1,
#maincopy .column2 {
	margin-right:30px;
}

#maincopy h3 {
	text-transform:uppercase;
	padding-bottom:5px;
	margin: 8px 0;
	border-bottom:1px solid #ccc;
	font-weight:bold;
}

#gallery h3 {
	text-transform:uppercase;
	padding-bottom:5px;
	margin: 15px 0 5px 0;
	font-weight:bold;
}

#maincopy .date {
	color:#999;
}

#maincopy li {
	list-style:disc;
}

#maincopy ul {
	margin:0 20px 20px 20px;
}

#maincopy .certification {
	float: right;
	margin: 0 15px;
}

#main .chart {
	border-top: 2px solid #eee;
	text-align:center;
	padding:15px 0;
}


#maincopy .telecom {
	clear:both;
	margin-bottom: 15px;
}

#maincopy .telecom h3 {
	border-bottom:0px;
	padding-bottom:0px;
	margin-bottom:3px;
}

#maincopy .telecom img {
	float:left;
	margin-right:15px;
}

.icon {
	float:left;
	margin-right:10px;
}
.post {
	margin:15px 0;
}
#gallery {
	margin-top:10px;
}
#gallery ul { 
	list-style: none; 
	margin:10px 0;
}
#gallery ul li { 
	display: inline; 
}
#gallery ul img {
	border: 5px solid #eee;
	border-width: 5px;
}
#gallery ul a:hover img {
	border: 5px solid #c00;
	border-width: 5px;
	color: #fff;
}
#gallery ul a:hover { 
	color: #fff; 
}


/* -------- Formtastic Changes -------- */
/* forms
---------------------------------------------*/

form.formtastic fieldset.inlinebuttons {
	display: inline;
}

form.formtastic fieldset.inputs > ol > li {
	display: block;
}
form.formtastic fieldset.inputs > ol > li#quote_request_other_service_input > label {
	display: inline;
	clear: none;
}
form.formtastic {
	margin-top:15px;
}
form.formtastic li.string input, form.formtastic li.text textarea, form.formtastic li.select select {
	background:#F9F9F9;
	margin:2px 0 0 0;
	border:1px solid #999;
	border-color: #999 #ddd #ddd #999;
}
form.formtastic li.string input:focus, form.formtastic li.text textarea:focus, form.formtastic li.select select:focus {
	border:1px solid #666;
	background:#F2F9FF;
}
form.formtastic li.string input {
	padding:4px;
	font-size:1.1em;
	width: 399px;
}
form.formtastic li.calendar input {
	padding:4px;
	font-size:1.1em;
	width: 100px;
}
form.formtastic img.ui-datepicker-trigger {
	margin: 0 10px 0 5px;
	height: 20px;
}
form.formtastic li.select select {
	font-size:1em;
}
form.formtastic li.select option {
	font-size: 1em;
}
                      
form.formtastic fieldset legend {
	margin: 0 0 10px 0;
	color: #666;
}
fieldset legend span {
	text-transform:uppercase;
	padding:5px;
	margin: 0;
	background:#eee;
	font-weight:bold;
	border-bottom:0px;
	font-size:1.5em;
	color:#000;
}

div.btn {
	margin: 10px 0 10px 0;
}

form.formtastic fieldset#yourInfo {
	width: 450px;
	float:left;
}

form.formtastic fieldset#companyInfo {
	width: 450px;
	float:right;
}

form.formtastic fieldset.services1, 
form.formtastic fieldset.services2 {
	float:left;
	margin-right:60px;
	margin-bottom: 20px;
	font-size: 1.4em;
	line-height:1.5em;
}

/* buttons
---------------------------------------------*/

form.formtastic fieldset.buttons li.commit input {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size:1.1em;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
form.formtastic fieldset.buttons li.commit input:hover {
	text-decoration: none;
}
form.formtastic fieldset.buttons li.commit input:active {
	position: relative;
	top: 1px;
}
form.formtastic fieldset.buttons li.commit input {
	color: #fff;
	border: solid 1px #13428E;
	background: #0066cc;
	background: -webkit-gradient(linear, left top, left bottom, from(#3F7AC9), to(#13428E));
	background: -moz-linear-gradient(top,  #3F7AC9,  #13428E);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F7AC9', endColorstr='#13428E');
}
form.formtastic fieldset.buttons li.commit input:hover {
	background: #184196;
	background: -webkit-gradient(linear, left top, left bottom, from(#31599C), to(#122C62));
	background: -moz-linear-gradient(top,  #31599C,  #122C62);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#31599C', endColorstr='#122C62');
}
form.formtastic fieldset.buttons li.commit input:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#254077), to(#3F7AC9));
	background: -moz-linear-gradient(top,  #254077,  #3F7AC9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#254077', endColorstr='#3F7AC9');
}

fieldset.inputs li.boolean label, ol.choices-group li.choice label {
	display: inline;
/*	max-width: 20%;*/
}

	
/* system messages
---------------------------------------------*/
.error, .notice, .success {
	font-size:1.3em;
	padding: .8em;
	margin: 10px 0;
}
.error {
	color: #c00;
}
.notice {
	color: #514721;
}
.success {
	color: #264409;
}
.error a {
	color:#c00;
}
.notice a {
	color:#514721;
}
.success a {
	color:#264409;
}
.hide {
	display:none;
}

.errorExplanation  { 
	outline:1px solid #f7941d;
	border:1px solid red; 
	margin: 0 0 15px;
	padding: 10px;
}
.errorExplanation ul { list-style-type:decimal;list-style-position:inside;}


/* OVERRIDES
 --------------------------------------------------------------------------------------------------*/
#maincopy #servicesInfo {
	float: left;
}

#maincopy #additionalQuest {
	float: left;
	margin-top: 10px;
}

#maincopy #servicesInfo > ol > li {	
	margin:0;
	padding:2px;
}

#maincopy #servicesInfo ol {
	margin:0;
	padding:0;
	width: 940px;
}

#maincopy fieldset #servicesInfo li label {
	display: inline;
}

#maincopy fieldset ol li label {
	display: block;
}

#maincopy fieldset ol  {
	padding-left:0;
	margin-left:0;
}


#maincopy fieldset li  {
	padding-left:0;
	margin-left:0;
}


#maincopy form.formtastic fieldset.buttons {
	display:block;
	padding-left:0;
}
	
#maincopy form.formtastic fieldset.buttons li {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

#maincopy form.formtastic fieldset.buttons ol {
	margin-left:0;
	padding-left:0;
}
form.formtastic fieldset {
    display: block;
}
form.formtastic fieldset.buttons {
    padding: 10px 10px 10px 0;
}
form.formtastic fieldset > ol > li {
	display: block;	
}
form.formtastic fieldset > ol > li label {
	float: none;
}
form.formtastic fieldset > ol > li p.inline-hints {
  margin: 0;
	font-size:1.1em;
	margin-top: 5px;
}
form.formtastic fieldset > ol > li p.inline-errors {
  margin: 0;
	font-size:1.1em;
	margin-top: 5px;
}
form.formtastic fieldset > ol > li.boolean label {
   padding-left: 0;
   width: auto;
}


/* Developer changes
--------------------------------------------------- */

.paint-sample {
}
.paint-sample .photo {
	float: left;
	padding: 1px;
}
.paint-sample .photo .caption {
	text-align: center;
}
.paint-sample .description {
	clear: both;
	text-align: center;
	padding: 15px 0 15px 0;
	margin: auto;
  font-size: 1.7em;
	color: #555;
}
#cboxTitle {
    font-size: 1.8em;
}
.paint-sample .caption,
.paint-sample .photo .caption {
    font-size: 1.5em;
}
.usermenu {
	float: right;
	margin: 0;
	clear: none;
	font-size: 1.3em;
}

/* General Tables */

td.monitary {
	text-align: right;
}

td.centered {
	text-align: center;
}

td.right, th.right {
	text-align: right;
}

td.ninjaborders {
	border: none;
}

/* DATA TABLES
-------------------------------------------------------------------- */
table.data {
	background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0 15px 0;
  }
table.data thead {
  background: #dcdcdc;
  }
table.data tr.even {
  background-color: #ededed;
  }
table.data th {
  font-size: 12px;
  color: #646870;
  text-align: left;
  vertical-align: top;
  border: 1px solid #c5c5c5;
  padding: 5px;
  }
table.data td {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #c5c5c5;
  padding: 5px;
  }
table.data p {
	font-size: 1em;
	padding-bottom: .5em;
}

table.data td.monitary {
	text-align: right;
}

table.data td.centered, table.data th.centered {
	text-align: center;
}

table.data td.right, table.data th.right {
	text-align: right;
}

table.data td.ninjaborders {
	border: none;
}

table.data td.current_on_hand {
	background-color: #afa;
	text-align: center;
	font-weight:bold;	
}

table.data td.current_on_hand_error {
	background-color: #faa;
	text-align: center;
	font-weight:bold;	
}

table.data tr.not_counted {
	background-color: #eee;	
}

table.data td.rma_details {
	width: 85%;
}

table.data td.otd_details {
	width: 75%;
}

table.fullsize {
	width: 100%;
}

.hoverinfo a:link, .hoverinfo a:visited, .hoverinfo a:hover {
	text-decoration:none;
	color: #666;
}
table.data tr.primary-contact {
	background-color: #efe;
}

/* NEWS
-------------------------------------------------------------------- */
.post img, .last_post img {
	float: right;
	margin: 0 0 10px 20px;
}
p.see_more {
	width: 100%;
	text-align: right;
	padding: 0;
	margin: 0;
}

div.attachment_preview {
	display: inline;
}
div.attachment_preview img {
	float: right;
}

div.toolbar {
	margin: 10px 0 10px 0;
	padding: 2px 2px 2px 10px;
	background-color: #ccc;
}
#maincopy ul.actions {
	margin: 0 0 0 0;
}
#maincopy ul.actions li {
	display: inline;
	margin: 0 10px 0 0;
}
/* FLASH
---------------------------------------------------- */
div.flash_error  { 
	border:1px solid red; 
	outline:1px solid #f7941d;
	margin: 0 0 15px;
	padding: 10px;
	font-size: 1.5em;
}
div.flash_notice  { 
	border:1px solid #39f;
	outline:1px solid #999; 
	margin: 0 0 15px;
	padding: 10px;
	font-size: 1.5em;
}
div.flash_error ul, div.flash_notice ul { list-style-type:decimal;list-style-position:inside;}

span.search_match {
  background: yellow;
  color: #000;
  }    

.paging {
	margin: 0 0 10px;
}
.paging a {
	font-size: 14px;
	padding: 0 10px;
}

.submenu li {
	display: inline;
	margin: 0 10px;
	clear: none;
}

.submenu li.current {
	border-bottom: 1px dotted #c00;
}

div.column1 {
	float: left;
}

div.column2 {
	float: right;
}

.small table.data td {
	font-size: .9em;
}

div.shipper p {
	margin-top: 5px;
	margin-bottom: 2px;
	padding-bottom: 0;
}
div.shipper table.data {
	margin-top: 0;
}

/* BACKLOG TABLES ************************************/

table.backlog {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0 15px 0;
  }
table.backlog thead tr th {
  }
table.backlog tr.even {
  background-color: #ededed;
  }
table.backlog th {
  font-size: 12px;
  color: #646870;
  text-align: left;
  vertical-align: top;
  padding: 5px;
  }
table.backlog td {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
  padding: 5px;
  }

table.backlog td.c1_full {
	border-top: 3px solid green;
	border-left: 3px solid green;
	border-bottom: 3px solid green;	
	border-right: 1px solid green;
}

table.backlog td.top_full {
	border-top: 3px solid green;
	border-left: 1px solid green;
	border-bottom: 1px solid green;	
	border-right: 1px solid green;
}

table.backlog td.bottom_full {
	border-top: 1px solid green;
	border-left: 1px solid green;
	border-bottom: 3px solid green;	
	border-right: 3px solid green;
}

table.backlog td.cr_full {
	border-top: 3px solid green;
	border-left: 1px solid green;
	border-bottom: 1px solid green;	
	border-right: 3px solid green;
}

table.backlog td.c1_part, table.backlog td.cr_part, table.backlog td.top_part, table.backlog td.bottom_part {
	border: 1px solid black;
}

table.backlog td.c1, table.backlog td.cr, table.backlog td.top, table.backlog td.bottom {
	border: 1px solid #c5c5c5;
	background-color: #eee;
}

table.backlog td.quantity {
	width: 50px;
}

table.backlog td.c1 {
	width: 200px;
}

table.backlog tr.spacer td {
	padding-bottom: 15px;
	border: none;
}

table.backlog p {
	font-size: 1em;
	padding-bottom: .5em;
}

table.backlog td.monitary {
	text-align: right;
}

table.backlog td.centered {
	text-align: center;
}

table.backlog td.right, table.backlog th.right {
	text-align: right;
}

form.formtastic table.flatform {
	margin: 0 0 5px 0;
}

form.formtastic table.flatform label {
	display: inline;
	margin: 0 5px;
}

form.formtastic table.flatform ol > li {
	float: left;
	display: inline;
	margin: 0;
}

form.formtastic table.flatform li.commit input {
	padding: .2em 1em .2em;
}

form.formtastic fieldset.floatyfields {
	float: left;
	display: inline;
	padding-right: 30px;
}
form.formtastic fieldset.floatyfields > ol > li label {
	width: auto;
}
form.formtastic fieldset.floatyfields > ol > li {
	display: block;
	float: none;
}

div.searchresults {
	margin-top: 5px;
}

form.formtastic .flatform fieldset {
	margin: 0;
	padding: 0;
	display: inline;
}

input#search_fcompany {
	width: 250px;
}

p.inprogress {
	background:url(../../images/m2mhub/inprogress.gif) top left no-repeat;
	padding-left: 2em;
	font-size: 1em;
}

tr.closed_so {
	display: none;
}

div.job {
	margin: 5px 0 0 0;
}

span.jobstatus {
	float:right;
}

div.closewindow {
	float:right;
}

span.currency_symbol {
	float: left;
}

/* On Time Delivery Reports */
.closed_details {
	display: none;
}

.otd_report_month {
	margin: 15px 0 0 0;
	font-size: 1.2em;
}

/* REPORT TABLES
-------------------------------------------------------------------- */
table.details {
  }
table.details thead {
	background-color: none;
  }
table.details th {
  font-size: 12px;
  color: #646870;
  text-align: left;
  vertical-align: top;
	border-top: none;
	border-left: none;
	border-right: none;
  border-bottom: 1px dotted #c5c5c5;
  padding: 5px;
	background-color: white;
  }
table.details td {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
	border-top: none;
	border-left: none;
	border-right: none;
  border-bottom: 1px dotted #c5c5c5;
  padding: 5px;
  }
table.details p {
	font-size: 1em;
	padding-bottom: .5em;
}
table.details td.fixed_width_text {
	width: 250px;
}

td.guessed_credit_memo {
	background-color: #fa6;
}

.highworkload, .highworkload a:link, .highworkload a:visited, .highworkload a:hover {
	text-decoration:none;
	color: #ff2222;
}
.nowrap {
	white-space:nowrap;
}
/* Lighthouse Tickets
-------------------------------------------------------------------- */
div.lighthouse_ticket {
}
div.lighthouse_comment {
	margin: 0 0 0 20px;
	border-top: 1px dotted #c5c5c5;
	width: 751px;
}

/* Forms
----------------------------- */
form.formtastic fieldset.closed_details {
	display: none;
}

div.more_form {
	font-size: 1.4em;
}

div.similar_customers {
	border:10px solid #e92;
	padding: 10px 10px 0 10px;
	margin: 0 0 30px;
}

div.similar_customers ul {
	margin: 10px 0 10px;
}

div.display_search { 
	font-size: 2em;
}

/* Pagination
---------------------------------------------------- */
.pagination {
	margin: 10px 0 10px 0;
	font-size: 1.5em;
}

span.late {
	color: #f00;
	font-weight: bold;
}