<%= render 'items/summary' %>

<h2>Parents (parts that include <%= item_part_number(@item) %>)</h2>

<%= will_paginate @bom_items %>
<%= render 'items/list', :items => @bom_items.map(&:parent_item) %>
