<% semantic_form_for :search, @search_item, :url => items_path, :html => {:method => :get} do |f| %>
	<% f.inputs do %>
	  <%= f.input :fpartno %>
	<% end %>
  <% f.buttons do %>
	  <%= f.commit_button 'Search' %>
	<% end %>
<% end %>

<% if @items %>
<% if @items.size > 0 %>
<%= will_paginate @items %>
<%= render 'list' %>
<% else %>
<h3>No matches</h3>
<% end %>
<% end %>