<%= render 'production/vendors/summary' %>

<h2>Purchase Order Items</h2>
<%= will_paginate @purchase_order_items %>

<%= render 'production/purchase_order_items/list', :purchase_order_items => @purchase_order_items %>

<%= will_paginate @purchase_order_items %>
