<div class="submenu">
	<ul>
		<li class="<%= menu_selected 'm2m_customer_search' %>">
			<%= link_to 'Search', m2m_customers_url %>
		</li>
		<li class="<%= menu_selected 'm2m_customers/exports' %>">
			<%= link_to 'Export', m2m_customer_exports_url %>
		</li>
	</ul>
</div>