<div class="submenu">
	<ul>
		<% if permitted_to?(:read, :shipping_backlog_reports) %>
		<li class="<%= menu_selected 'shipping/backlog_reports' %>">
			<%= link_to 'Backlog', shipping_backlog_reports_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :shipping_daily_reports) %>
		<li class="<%= menu_selected 'shipping/daily_reports' %>">
			<%= link_to 'Daily Reports', shipping_daily_reports_url %>
		</li>
		<% end %>
	</ul>
</div>