<% title 'New Purchase Queue Note' %>

<%= render 'production/submenu' %>
<br />

<h2>Create New Note</h2>

<%= semantic_form_for @note, :url => purchase_queue_notes_url do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

