<%#= will_paginate @releases %>

<% semantic_form_for :search, @search, :url => sales_backlog_reports_path, :html => {:method => :get} do |f| %>
<table>
	<tbody>
		<tr>
			<td>
				<% f.inputs :class => 'flatform' do %>
				  <%= f.input :due_date, :as => :calendar, :value => @search.due_date.to_s(:backorder_date), :label => 'Due: ' %>
				<% end %>
			</td>
			<td>
				<% f.buttons :class => 'buttons flatform' do %>
				  <%= f.commit_button 'Go' %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
<% end %>

<%= render 'list' %>

<%#= will_paginate @sales_orders %>
