
<table class="data">
	<thead>
		<tr>
			<td class="ninjaborders"></td>
			<% reports.each do |report| %>
			<th><%= report.date.to_s(:month_year) %></th>
			<% end %>			
		</tr>
	</thead>
	<tbody>
		<% [:invoiced_sales, :net_invoiced_sales, :bookings, :ytd_net_invoiced_sales].each do |key| %>
		<tr>
			<th>
				<%= Sales::SalesReport.human_attribute_name(key) %>
			</th>
			<% reports.each do |report| %>
			<td class="right">
				<%= cm report.send(key), :rounded_dollars %>
			</td>
			<% end %>			
		</tr>
		<% end %>
	</tbody>
</table>
